.slide{
    height: 400px;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.fast-slide{
    background-image: url(https://images.unsplash.com/photo-1627309366653-2dedc084cdf1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1966&q=80);

}
.second-slide{
    background-image: url(https://images.unsplash.com/photo-1551471721-d3f1783e3603?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);

}
.thread-slide{
    background-image: url(https://images.unsplash.com/photo-1561666559-69372c51f85e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1167&q=80);

}
.slide h3{
    font-size: 40px;
}
.slide p{
    font-size: 18px;
}
button{
    font-weight: 600;
    color: #233859;
    background-color: #f0e246;
    padding: 17px 15px;
    border: 2px solid;
    border-color: #f0e246;
    margin-bottom: 100px;
}


button:hover{
    color: #ffffff;
    background-color: #233859;
    border-color: #233859;
}

.btn-google{
    color: #3565b2;
}
.btn-google:hover{
    color: #3565b2;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .slide{
        height: 550px;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .slide{
        height: 600px;
    }
 }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .slide{
        height: 650px;
    }
 }
